<!DOCTYPE html>
<html>

<head>
    <title>Mini Oráculo</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>O Oráculo</h1>

        <div class="orb">
            🔮
          <p class="intro">
            Pense em alguém... O Oráculo tentará descobrir.
          </p>
        </div>

        <p>Pense em alguém...</p>

        <a href="/game">
    <button>Começar</button>
        </a>

    </div>

</body>
</html>